#!/usr/bin/env zsh

set -e

export HUBOT_IRC_NICK=hubot
export HUBOT_IRC_PORT=6697
export HUBOT_IRC_ROOMS=#hubot
export HUBOT_IRC_SERVER=irc.example.com
export HUBOT_IRC_PASSWORD=passwd
export HUBOT_IRC_SERVER_USE_SSL=1
export HUBOT_IRC_SERVER_FAKE_SSL=1
export HUBOT_IRC_DEBUG=1

export NODE_PATH=node_modules:$NODE_PATH
export PATH=node_modules/.bin:$PATH

bin/hubot -a irc -n $HUBOT_IRC_NICK
