#!/usr/bin/env zsh

set -e

if [[ ! -a installed ]]; then
    npm install
    touch installed
fi

if [[ ! -a patched ]]; then
    patch node_modules/irc/lib/irc.js << EOF
466,468c466
<            if (self.conn.authorized ||
<                (self.opt.selfSigned &&
<                 self.conn.authorizationError === 'DEPTH_ZERO_SELF_SIGNED_CERT')) {
---
>            if (self.conn.authorized || self.opt.selfSigned) {
EOF
    touch patched
fi

export HUBOT_IRC_NICK=hubot
export HUBOT_IRC_PORT=6697
export HUBOT_IRC_ROOMS=#hubot
export HUBOT_IRC_SERVER=irc.example.com
export HUBOT_IRC_PASSWORD=passwd
export HUBOT_IRC_SERVER_USE_SSL=1
export HUBOT_IRC_SERVER_FAKE_SSL=1
export HUBOT_IRC_DEBUG=1

export NODE_PATH=node_modules:$NODE_PATH
export PATH=node_modules/.bin:$PATH

bin/hubot -a irc
